{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container">
    <h3>Delete Category</h3>
    <div class="form-group">
        <b>Are you sure you want to delete the following item</b>
    </div>
    <div class="form-group">
        <form action="{{url_for('deleteCategory', catalog_name = catalog.name, category_name = category.name)}}" method="post">
            <input class="btn btn-primary btn-sm" type="submit", value="Delete">
            <a role="button" class="btn btn-default btn-sm" href="{{url_for('showCategories', catalog_name = catalog.name)}}">Cancel</a>
        </form> 
    </div>    
</div>
{% endblock %}
