{% extends "main.html" %}
{% block content %}
{% include "userNavbar.html" %}
<div class="container">
    <h3>{{category.name}} Items</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Items Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td><a href="{{url_for('showItem', item_name = item.name)}}">{{item.name}}</a></td>
            <td><a role="button" class="btn btn-primary btn-xs" href="{{url_for('editItem', item_name = item.name)}}">Edit</a></td>
            <td><a role="button" class="btn btn-danger btn-xs"  href="{{url_for('deleteItem', item_name = item.name)}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <a role="button" class="btn btn-success btn-xs" href="{{url_for('newItem')}}">New Item</a>
</div>
{% endblock %}