{% extends "main.html" %}
{% block content %}
{% include "publicNavbar.html" %}
<div class="container">
    <h3>Items</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Item Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for item in items %}
        <tr>
            <td><a href="{{url_for('showItem', item_name = item.name)}}">{{item.name}}</a></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
