{% extends "main.html" %}
{% block content %}
{% include "publicNavbar.html" %}
<div class="container">
    <h3>Category Listing</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Category Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        {% for category in categories %}
        <tr>
            <td><a href="{{url_for('showCategory', category_name = category.name)}}">{{category.name}}</a></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
    <!--<a role="button" class="btn btn-success btn-xs" href="{{url_for('newCategory')}}">New Category</a>-->
</div>
{% endblock %}