{% extends "itemMain.html" %}
{% block content %}
{% include "publicNavbar.html" %}
<div class="container">
    <h3>{{category.name}} Items</h3>
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
        {% for item in items %}
        <div class="item col-xs-4 col-lg-4">
            <div class="thumbnail">
                <a href="{{url_for('showItem', item_name=item.name)}}"><img class="group list-group-image" src="{{item.picture_url}}" alt="" /></a>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">{{item.name}}</h4>
                    <p class="group inner list-group-item-text">{{item.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">{{item.price}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a role="button" class="btn btn-sm btn-success" href="{{url_for('showItem', item_name=item.name)}}">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}          
    </div>
</div>
{% endblock %}